#Sample configuration using GitHub as the provider. Replace with real values after setting up the GitHub OAuth app.
provider = "github"
client_id = "noclient"
client_secret = "nosecret"
email_domains = ["*"]
cookie_name = "_localcoda_oauth2"
github_org = "noorg"
github_team = "noteam"
